apiVersion: v1
kind: Namespace
metadata:
  name: mongodb-prod
---
apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: mongodb-prod
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: admin
  MONGO_INITDB_ROOT_PASSWORD: prodPassword123!
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-config
  namespace: mongodb-prod
data:
  mongos.conf: |
    net:
      bindIp: 0.0.0.0
      port: 27017
    sharding:
      configDB: mongo-config-0.mongo-config-svc.mongodb-prod.svc.cluster.local:27017,mongo-config-1.mongo-config-svc.mongodb-prod.svc.cluster.local:27017,mongo-config-2.mongo-config-svc.mongodb-prod.svc.cluster.local:27017
