apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minikubetest-app
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/image-list: nginxdeployment=yessboom/my-custom-nginx:latest
    argocd-image-updater.argoproj.io/nginxdeployment.update-strategy: latest
    argocd-image-updater.argoproj.io/write-back-method: git
spec:
  project: default
  source:
    repoURL: https://github.com/Yessboom/Minikubetest
    targetRevision: main
    path: kubernetes
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
